environment:
  matrix:
  - nodejs_version: "4"
  - nodejs_version: "6"
  - nodejs_version: "8"
  - nodejs_version: "10"

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf true

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm i -g npm@^3
  - npm config set spin false

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - npm test

cache:
  - '%APPDATA%\npm-cache'

# Don't actually build.
build: off
